@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e5e5e5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e5e5e5;
    --foreground: #171717;
  }
}

* {
  touch-action: manipulation;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pixelify-sans), sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.timer-badge + div {
  transform: translate(10px, 20px) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.timer-jackpot {
  font-family: var(--font-pixelify-sans), sans-serif;
  line-height: 1.25;
  letter-spacing: 0.025em;
}
